<body class = "passenger-color">
<%= form_with model: @trip, class: 'edit-trip' do |f| %>
  <h3>Please provide the following information to edit your trip.</h3>

  <%= f.label :driver_id %>
  <%= f.text_field :driver_id %>

  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.submit "Edit Trip", class: "trip-button" %>
<% end %>
