<!DOCTYPE html>
<html lang="en">
<head>
  <title>RideShareRails</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
  <h1>Trip Details</h1>
</div>
<div class="navbar">
  <%= link_to "Home", homepages_path %>
  <%= link_to "Passengers", passengers_path%>
  <%= link_to "Drivers", drivers_path%>
</div>
<main class="main-container">
<table>
  <thead>
  <tr>
    <th>Trip ID</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Trip Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @trip.id %></td>
    <td><%= @trip.driver.name %></td>
    <td><%= @trip.passenger.name %></td>
    <td><%= number_to_currency(Trip.format_money(@trip.cost)) %></td>
  </tr>
  </tbody>
</table>
<div class="edit-trip-text"> <%= link_to 'Edit | ', edit_trip_path(@trip[:id]) %><%= link_to 'Delete', destroy_trip_path(@trip), method: :delete, data: {confirm: 'Are you sure?' } %>
</main>
<footer class="footer">
<p id = "footer-text">© Sandy and Rachel</p>
</footer>
</body>
</html>

