<!DOCTYPE html>
<html lang="en">
<head>
  <title>RideShareRails</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="header">
  <h1> Welcome to the Rideshare App!</h1>
</div>
<div>
  <div class="navbar">
    <%= link_to "Home", homepages_path %>
    <%= link_to "Passengers", passengers_path%>
     <%= link_to "Drivers", drivers_path%>
  </div>
  <header class="edit-trip-text">
    <p class="passenger-heading">
      Select more options below:
    </p>
  </header>
    <ul>
      <li>
        <%= link_to "View Passengers", passengers_path%>
      </li>
      <li>
        <%= link_to "Create New Passenger Account", new_passenger_path %>
      </li>
      <li> <%= link_to "View Drivers", drivers_path%>
      </li>
      <li>
        <%= link_to "Create New Driver Account", new_driver_path%>
      </li>
    </ul>
  <footer class="footer">
  <p>© Sandy and Rachel</p>
  </footer>
</body>
</html>
