<!DOCTYPE html>
<html lang="en">
<head>
  <title>RideShareRails</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main class="main-container">
<div class="header">
  <h1>All Passengers</h1>
</div>
<div class="navbar">
  <%= link_to "Home", homepages_path %>
  <%= link_to "Passengers", passengers_path%>
  <%= link_to "Drivers", drivers_path%>
</div>
<h3 class = "passenger-title"><%= link_to "Create New Passenger Account", new_passenger_path%></h3>
<ul id = "passenger-information-list">
  <% @passengers.each do |passenger| %>
    <li id="passenger-info-padding">
      <%= link_to passenger.name, passenger_path(passenger) %>
      <%=link_to 'Add new trip |', passenger_trips_path(passenger), class: "a-primary", method: :post%>
      <%= link_to 'Edit |', edit_passenger_path(passenger[:id]), class: "b-primary" %>
      <%= link_to 'Delete', destroy_passenger_path(passenger),  class: "c-primary", method: :delete, data: {confirm: 'Are you sure?' }  %>
    </li>
  <% end %>
</ul>
</main>
<footer class="footer">
<p id = "footer-text">© Sandy and Rachel</p>
</footer>
</body>
</html>