
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RideShareRails</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
  <h1> Driver: <%= @driver.name %></h1>
</div>
<div class="nav">
  <%= link_to "Home", homepages_path %>
  <%= link_to "Passengers", passengers_path%>
  <%= link_to "Drivers", drivers_path%>
</div>
<main class="main-container">
<h4 class= "driver-title">Additional Driver Information</h4>
<div id = "passenger-info-trip-list">
  <p>Vin: <%= @driver[:vin] %></p>
  <p> Driver Id: <%=@driver[:id] %></p>
<p>Availability: <%= driver_availability_string(@driver) %><p>

<h4>More options</h4><%= link_to driver_online_string(@driver), {action: :set_available, id: @driver.id}, method: :patch %><br>
  <%= link_to "Delete Driver", destroy_driver_path, class: "c-primary", method: :delete, data: {confirm: "Are you sure?"} %> |
  <%= link_to "Edit Driver", edit_driver_path, class: "b-primary" %>
<p><br> <%= @driver[:name] %>'s average rating is: <%= @driver.average_rating %> </p>
<p> Their trips totaled to $<%= @driver.total_money%> and they made $<%= @driver.after_fee %></p>
</div>
</div>
  <table> 
    <thead>
    <tr>
      <th>Trip ID</th>
      <th>Trip Cost</th>
      <th>Trip Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip|%>
      <tr>
        <td><%= trip.id %>, <%= link_to "Trip Details", trip_path(trip.id) %>
        <td><%= number_to_currency(Trip.format_money(trip.cost))%></td>
        <td><%= trip[:rating] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br><br>
  <main>
  <footer class="footer">
  <p id = "footer-text">© Sandy and Rachel</p>
  </footer>
</body>
</html>


