
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="header">
  <h1> Driver: <%= @driver.name %></h1>
</div>
<div class="navbar">
  <%= link_to "Home", homepages_path %>
  <%= link_to "Passengers", passengers_path%>
  <%= link_to "Drivers", drivers_path%>
</div>

  <h3>Vin: <%= @driver[:vin] %></h3>
  <h3> Driver Id: <%=@driver[:id] %></h3>

<h4>Availability: <%= driver_availability_string(@driver) %></h4>
<h4>More options:</h4>
  <%= link_to driver_online_string(@driver), {action: :set_available, id: @driver.id}, method: :patch %>
  <%= link_to "Delete Driver?", destroy_driver_path, method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit Driver", edit_driver_path %>

<h4> <%= @driver[:name] %>'s average rating is
<%= @driver.average_rating %>. </h4>
<h4>
    Their trips totaled to $<%= @driver.total_money%> and they made $<%= @driver.after_fee %>.
</h4>
  <table>
    <thead>
    <tr>
      <th>Trip ID</th>
      <th>Trip Cost</th>
      <th>Trip Rating</th>
    </tr>
    </thead>
    <tbody>
    <% @driver.trips.each do |trip|%>
      <tr>
        <td><%= trip.id %>,<%= link_to " Trip Details", trip_path(trip.id) %>
        <td><%= number_to_currency(Trip.format_money(trip.cost))%></td>
        <td><%= trip[:rating] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<footer>
  Sandy and Rachael (c) 2020
</footer>
</body>
</html>


